* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.btn {
    position: relative;
    background: #00afb9;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00afb9;
    box-shadow: 0px 0px 2px 2px #00afb9;
    border-radius: 0.5rem;
    transform: scale(0);
    animation: animate 2s linear infinite;
   z-index: -1;
}

.btn:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00afb9;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px 2px #00afb9;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: 1s;
   z-index: -1;
}

@keyframes animate {
   
    to{
        transform: scale(1.7);
        opacity: 0;
    }
}